# DATA CLEANING

### Objectives

* Data description.
* Determine if data transformation is needed.
* Check the dataset for missing data and placeholders.
* Check dataset for duplicates.
* Creating new columns via feature engineering.
* Select subet data.
* Save the new dataset.

## IMPORT DATA

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('/CSV_Files/thermostat_data.csv')
data.head()

   building_id          ts  outdoor_temp  ...  commercial  state indoor_temp
0         6168  1605644640        45.607  ...       False     NY         NaN
1         6168  1605644700        45.670  ...       False     NY         NaN
2         6168  1605644760        45.531  ...       False     NY         NaN
3         6168  1605644820        45.353  ...       False     NY         NaN
4         6168  1605644880        45.137  ...       False     NY         NaN

[5 rows x 7 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3608749 entries, 0 to 3608748
Data columns (total 7 columns):
 #   Column        Dtype
---  ------        -----
 0   building_id   int64
 1   ts            int64
 2   outdoor_temp  float64
 3   boiler_on     float64
 4   commercial    bool
 5   state         object
 6   indoor_temp   float64
dtypes: bool(1), float64(3), int64(2), object(1)
memory usage: 168.6+ MB

## DATA DESCRIPTION

The data is consist of 7 columns and 3,608,749 rows, where each row contains the measurements for one minute from	*2020-11-17 20:24:00* to *2020-12-17 20:22:00*.

*Within the data, following columns are provided.*


*   **building_id  :** Numerical type data, used as unique identifier for each building. There are 89 different buildings in the dataset.

*   **ts :** Unix timestamp. 

*   **outdoor_temp :** Outdoor temperature of the city in Fahrenheit that the building in question is in

*   **boiler_on    :** Binary column that contains boiler on/off information.

*   **commercial   :** Boolean column that answers if the building is commercial or not.

*   **state        :** In which state the building in question is. Company has active systems in NY, MA, and RI.

*   **indoor_temp  :** Indoor temperature of the building in Fahrenheit.

In [5]:
 # Check each column for unique values.
for col in data.columns:
    print(col, '\n\n', data[col].value_counts())
    print(40*'-')

building_id

 4699461536766    42127
4753626976665    42024
8250             42000
4621758970989    41998
4613394659241    41995
                 ...
4599460339872    31846
4810168312158    22985
4812181018245    22862
4822071968685    14448
6492             11413
Name: building_id, Length: 89, dtype: int64
----------------------------------------
ts

 1607330520    174
1606258680    171
1606264140    170
1606063080    170
1605996120    170
             ...
1606345740      1
1606316640      1
1606383420      1
1606367700      1
1606355460      1
Name: ts, Length: 42870, dtype: int64
----------------------------------------
outdoor_temp

 -79.158     2305
-78.642     2252
-77.643     2149
-77.159     2059
-78.137     2047
            ...
 18.649        1
 119.039       1
 119.539       1
-22.390        1
 1.040         1
Name: outdoor_temp, Length: 8199, dtype: int64
----------------------------------------
boiler_on

 0.0    2275825
1.0     825948
Name: boiler_on, dtype: int64
----------------------------------------
commercial

 False    3482808
True      125941
Name: commercial, dtype: int64
----------------------------------------
state

 NY    3357209
MA     209550
RI      41990
Name: state, dtype: int64
----------------------------------------
indoor_temp

 72.5000    44518
73.4000    41637
71.6000    37109
72.9500    34208
72.0500    33503
           ...
80.6515        1
64.6765        1
80.1455        1
83.9185        1
83.7495        1
Name: indoor_temp, Length: 1360, dtype: int64
----------------------------------------

## DATA TRANSFORMATION

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3608749 entries, 0 to 3608748
Data columns (total 7 columns):
 #   Column        Dtype
---  ------        -----
 0   building_id   int64
 1   ts            int64
 2   outdoor_temp  float64
 3   boiler_on     float64
 4   commercial    bool
 5   state         object
 6   indoor_temp   float64
dtypes: bool(1), float64(3), int64(2), object(1)
memory usage: 168.6+ MB

**building_id** column is a unique identifier for each building. This is why we save this column as an *object* data type.

In [7]:
data['building_id'] = data['building_id'].astype('object')

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3608749 entries, 0 to 3608748
Data columns (total 7 columns):
 #   Column        Dtype
---  ------        -----
 0   building_id   object
 1   ts            int64
 2   outdoor_temp  float64
 3   boiler_on     float64
 4   commercial    bool
 5   state         object
 6   indoor_temp   float64
dtypes: bool(1), float64(3), int64(1), object(2)
memory usage: 168.6+ MB

**ts** column is unix timestampwhich we will convert to pandas *datetime* object.

In [10]:
# Unix timestamp can be stored in smaller spaces. 
data['ts'] = pd.to_datetime(data['ts'], unit='s')

**commercial** is a boolean type column which will be transformed into binary column.

In [11]:
data['commercial'].unique()

array([False,  True])

In [12]:
data['commercial'] = data['commercial'].map({False : 0, True : 1})
data['commercial'].value_counts()

0    3482808
1     125941
Name: commercial, dtype: int64

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3608749 entries, 0 to 3608748
Data columns (total 7 columns):
 #   Column        Dtype
---  ------        -----
 0   building_id   object
 1   ts            datetime64[ns]
 2   outdoor_temp  float64
 3   boiler_on     float64
 4   commercial    int64
 5   state         object
 6   indoor_temp   float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 192.7+ MB

## MISSING DATA

In [14]:
# Check for null values in the dataset.
data.isnull().sum()

building_id          0
ts                   0
outdoor_temp    122630
boiler_on       506976
commercial           0
state                0
indoor_temp     415159
dtype: int64

Our dataset has null values in 3 columns : *outdoor_temp*, *boiler_on*, *indoor_temp*.

Let's investigate each building seperately.

In [ ]:
for bldg_id in list(data['building_id'].unique()):
    print(bldg_id)
    print('\n', data[data['building_id'] == bldg_id].info())
    print('Sum of nans:', data[data['building_id'] == bldg_id].isnull().sum())
    print(40*'-')
    print('\n\n')

We can simply assume the next temperature is the same as the current temperature. So we use front fill method to fill NaN values.

In [18]:
data.fillna(method='ffill', inplace=True)

In [19]:
data.isnull().sum()

building_id         0
ts                  0
outdoor_temp        0
boiler_on           0
commercial          0
state               0
indoor_temp     83834
dtype: int64

In [20]:
for bldg_id in list(data['building_id'].unique()):
    print(bldg_id)
    print('\n', data[data['building_id'] == bldg_id].info())
    print('Sum of nans:', data[data['building_id'] == bldg_id].isnull().sum())
    print(40*'-')
    print('\n\n')

6168
<class 'pandas.core.frame.DataFrame'>
Int64Index: 41982 entries, 0 to 41981
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   building_id   41982 non-null  int64
 1   ts            41982 non-null  datetime64[ns]
 2   outdoor_temp  41982 non-null  float64
 3   boiler_on     41982 non-null  float64
 4   commercial    41982 non-null  int64
 5   state         41982 non-null  object
 6   indoor_temp   0 non-null      float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 2.6+ MB

 None
Sum of nans: building_id         0
ts                  0
outdoor_temp        0
boiler_on           0
commercial          0
state               0
indoor_temp     41982
dtype: int64
----------------------------------------



6204
<class 'pandas.core.frame.DataFrame'>
Int64Index: 41852 entries, 41982 to 83833
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   building_id   41852 non-null  int64
 1   ts            41852 non-null  datetime64[ns]
 2   outdoor_temp  41852 non-null  float64
 3   boiler_on     41852 non-null  float64
 4   commercial    41852 non-null  int64
 5   state         41852 non-null  object
 6   indoor_temp   0 non-null      float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 2.6+ MB

 None
Sum of nans: building_id         0
ts                  0
outdoor_temp        0
boiler_on           0
commercial          0
state               0
indoor_temp     41852
dtype: int64
----------------------------------------



6294
<class 'pandas.core.frame.DataFrame'>
Int64Index: 41980 entries, 83834 to 125813
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   building_id   41980 non-null  int64
 1   ts            41980 non-null  datetime64[ns]
 2   outdoor_temp  41980 non-null  float64
 3   boiler_on     41980 non-null  float64
 4   commercial    41980 non-null  int64
 5   state         41980 non-null  object
 6   indoor_temp   41980 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 2.6+ MB

 None
Sum of nans: building_id     0
ts              0
outdoor_temp    0
boiler_on       0
commercial      0
state           0
indoor_temp     0
dtype: int64
----------------------------------------



6492
<class 'pandas.core.frame.DataFrame'>
Int64Index: 11413 entries, 125814 to 137226
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   building_id   11413 non-null  int64
 1   ts            11413 non-null  datetime64[ns]
 2   outdoor_temp  11413 non-null  float64
 3   boiler_on     11413 non-null  float64
 4   commercial    11413 non-null  int64
 5   state         11413 non-null  object
 6   indoor_temp   11413 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 713.3+ KB

 None
Sum of nans: building_id     0
ts              0
outdoor_temp    0
boiler_on       0
commercial      0
state           0
indoor_temp     0
dtype: int64
----------------------------------------



6537
<class 'pandas.core.frame.DataFrame'>
Int64Index: 41955 entries, 137227 to 179181
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   building_id   41955 non-null  int64
 1   ts            41955 non-null  datetime64[ns]
 2   outdoor_temp  41955 non-null  float64
 3   boiler_on     41955 non-null  float64
 4   commercial    41955 non-null  int64
 5   state         41955 non-null  object
 6   indoor_temp   41955 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 2.6+ MB

 None
Sum of nans: building_id     0
ts              0
outdoor_temp    0
boiler_on       0
commercial      0
state           0
indoor_temp     0
dtype: int64
----------------------------------------



6603
<class 'pandas.core.frame.DataFrame'>
Int64Index: 41990 entries, 179182 to 221171
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   building_id   41990 non-null  int64
 1   ts            41990 non-null  datetime64[ns]
 2   outdoor_temp  41990 non-null  float64
 3   boiler_on     41990 non-null  float64
 4   commercial    41990 non-null  int64
 5   state         41990 non-null  object
 6   indoor_temp   41990 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 2.6+ MB

 None
Sum of nans: building_id     0
ts              0
outdoor_temp    0
boiler_on       0
commercial      0
state           0
indoor_temp     0
dtype: int64
----------------------------------------



6669
<class 'pandas.core.frame.DataFrame'>
Int64Index: 41981 entries, 221172 to 263152
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   building_id   41981 non-null  int64
 1   ts            41981 non-null  datetime64[ns]
 2   outdoor_temp  41981 non-null  float64
 3   boiler_on     41981 non-null  float64
 4   commercial    41981 non-null  int64
 5   state         41981 non-null  object
 6   indoor_temp   41981 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 2.6+ MB

 None
Sum of nans: building_id     0
ts              0
outdoor_temp    0
boiler_on       0
commercial      0
state           0
indoor_temp     0
dtype: int64
----------------------------------------



6690
<class 'pandas.core.frame.DataFrame'>
Int64Index: 41986 entries, 263153 to 305138
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   building_id   41986 non-null  int64
 1   ts            41986 non-null  datetime64[ns]
 2   outdoor_temp  41986 non-null  float64
 3   boiler_on     41986 non-null  float64
 4   commercial    41986 non-null  int64
 5   state         41986 non-null  object
 6   indoor_temp   41986 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 2.6+ MB

 None
Sum of nans: building_id     0
ts              0
outdoor_temp    0
boiler_on       0
commercial      0
state           0
indoor_temp     0
dtype: int64
----------------------------------------



6834
<class 'pandas.core.frame.DataFrame'>
Int64Index: 41991 entries, 305139 to 347129
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   building_id   41991 non-null  int64
 1   ts            41991 non-null  datetime64[ns]
 2   outdoor_temp  41991 non-null  float64
 3   boiler_on     41991 non-null  float64
 4   commercial    41991 non-null  int64
 5   state         41991 non-null  object
 6   indoor_temp   41991 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 2.6+ MB

 None
Sum of nans: building_id     0
ts              0
outdoor_temp    0
boiler_on       0
commercial      0
state           0
indoor_temp     0
dtype: int64
----------------------------------------



7167
<class 'pandas.core.frame.DataFrame'>
Int64Index: 41984 entries, 347130 to 389113
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   building_id   41984 non-null  int64
 1   ts            41984 non-null  datetime64[ns]
 2   outdoor_temp  41984 non-null  float64
 3   boiler_on     41984 non-null  float64
 4   commercial    41984 non-null  int64
 5   state         41984 non-null  object
 6   indoor_temp   41984 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 2.6+ MB

 None
Sum of nans: building_id     0
ts              0
outdoor_temp    0
boiler_on       0
commercial      0
state           0
indoor_temp     0
dtype: int64
----------------------------------------



7227
<class 'pandas.core.frame.DataFrame'>
Int64Index: 41934 entries, 389114 to 431047
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   building_id   41934 non-null  int64
 1   ts            41934 non-null  datetime64[ns]
 2   outdoor_temp  41934 non-null  float64
 3   boiler_on     41934 non-null  float64
 4   commercial    41934 non-null  int64
 5   state         41934 non-null  object
 6   indoor_temp   41934 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 2.6+ MB

 None
Sum of nans: building_id     0
ts              0
outdoor_temp    0
boiler_on       0
commercial      0
state           0
indoor_temp     0
dtype: int64
----------------------------------------



7263
<class 'pandas.core.frame.DataFrame'>
Int64Index: 41878 entries, 431048 to 472925
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   building_id   41878 non-null  int64
 1   ts            41878 non-null  datetime64[ns]
 2   outdoor_temp  41878 non-null  float64
 3   boiler_on     41878 non-null  float64
 4   commercial    41878 non-null  int64
 5   state         41878 non-null  object
 6   indoor_temp   41878 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 2.6+ MB

 None
Sum of nans: building_id     0
ts              0
outdoor_temp    0
boiler_on       0
commercial      0
state           0
indoor_temp     0
dtype: int64
----------------------------------------



7530
<class 'pandas.core.frame.DataFrame'>
Int64Index: 41991 entries, 472926 to 514916
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   building_id   41991 non-null  int64
 1   ts            41991 non-null  datetime64[ns]
 2   outdoor_temp  41991 non-null  float64
 3   boiler_on     41991 non-null  float64
 4   commercial    41991 non-null  int64
 5   state         41991 non-null  object
 6   indoor_temp   41991 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 2.6+ MB

 None
Sum of nans: building_id     0
ts              0
outdoor_temp    0
boiler_on       0
commercial      0
state           0
indoor_temp     0
dtype: int64
----------------------------------------



7599
<class 'pandas.core.frame.DataFrame'>
Int64Index: 41980 entries, 514917 to 556896
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   building_id   41980 non-null  int64
 1   ts            41980 non-null  datetime64[ns]
 2   outdoor_temp  41980 non-null  float64
 3   boiler_on     41980 non-null  float64
 4   commercial    41980 non-null  int64
 5   state         41980 non-null  object
 6   indoor_temp   41980 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 2.6+ MB

 None
Sum of nans: building_id     0
ts              0
outdoor_temp    0
boiler_on       0
commercial      0
state           0
indoor_temp     0
dtype: int64
----------------------------------------



7650
<class 'pandas.core.frame.DataFrame'>
Int64Index: 41979 entries, 556897 to 598875
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   building_id   41979 non-null  int64
 1   ts            41979 non-null  datetime64[ns]
 2   outdoor_temp  41979 non-null  float64
 3   boiler_on     41979 non-null  float64
 4   commercial    41979 non-null  int64
 5   state         41979 non-null  object
 6   indoor_temp   41979 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 2.6+ MB

 None
Sum of nans: building_id     0
ts              0
outdoor_temp    0
boiler_on       0
commercial      0
state           0
indoor_temp     0
dtype: int64
----------------------------------------



7791
<class 'pandas.core.frame.DataFrame'>
Int64Index: 39940 entries, 598876 to 638815
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   building_id   39940 non-null  int64
 1   ts            39940 non-null  datetime64[ns]
 2   outdoor_temp  39940 non-null  float64
 3   boiler_on     39940 non-null  float64
 4   commercial    39940 non-null  int64
 5   state         39940 non-null  object
 6   indoor_temp   39940 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 2.4+ MB

 None
Sum of nans: building_id     0
ts              0
outdoor_temp    0
boiler_on       0
commercial      0
state           0
indoor_temp     0
dtype: int64
----------------------------------------



7899
<class 'pandas.core.frame.DataFrame'>
Int64Index: 41992 entries, 638816 to 680807
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   building_id   41992 non-null  int64
 1   ts            41992 non-null  datetime64[ns]
 2   outdoor_temp  41992 non-null  float64
 3   boiler_on     41992 non-null  float64
 4   commercial    41992 non-null  int64
 5   state         41992 non-null  object
 6   indoor_temp   41992 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 2.6+ MB

 None
Sum of nans: building_id     0
ts              0
outdoor_temp    0
boiler_on       0
commercial      0
state           0
indoor_temp     0
dtype: int64
----------------------------------------



8250
<class 'pandas.core.frame.DataFrame'>
Int64Index: 42000 entries, 680808 to 722807
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   building_id   42000 non-null  int64
 1   ts            42000 non-null  datetime64[ns]
 2   outdoor_temp  42000 non-null  float64
 3   boiler_on     42000 non-null  float64
 4   commercial    42000 non-null  int64
 5   state         42000 non-null  object
 6   indoor_temp   42000 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 2.6+ MB

 None
Sum of nans: building_id     0
ts              0
outdoor_temp    0
boiler_on       0
commercial      0
state           0
indoor_temp     0
dtype: int64
----------------------------------------



8277
<class 'pandas.core.frame.DataFrame'>
Int64Index: 41985 entries, 722808 to 764792
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   building_id   41985 non-null  int64
 1   ts            41985 non-null  datetime64[ns]
 2   outdoor_temp  41985 non-null  float64
 3   boiler_on     41985 non-null  float64
 4   commercial    41985 non-null  int64
 5   state         41985 non-null  object
 6   indoor_temp   41985 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 2.6+ MB

 None
Sum of nans: building_id     0
ts              0
outdoor_temp    0
boiler_on       0
commercial      0
state           0
indoor_temp     0
dtype: int64
----------------------------------------



8286
<class 'pandas.core.frame.DataFrame'>
Int64Index: 41993 entries, 764793 to 806785
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   building_id   41993 non-null  int64
 1   ts            41993 non-null  datetime64[ns]
 2   outdoor_temp  41993 non-null  float64
 3   boiler_on     41993 non-null  float64
 4   commercial    41993 non-null  int64
 5   state         41993 non-null  object
 6   indoor_temp   41993 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 2.6+ MB

 None
Sum of nans: building_id     0
ts              0
outdoor_temp    0
boiler_on       0
commercial      0
state           0
indoor_temp     0
dtype: int64
----------------------------------------



8295
<class 'pandas.core.frame.DataFrame'>
Int64Index: 41981 entries, 806786 to 848766
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   building_id   41981 non-null  int64
 1   ts            41981 non-null  datetime64[ns]
 2   outdoor_temp  41981 non-null  float64
 3   boiler_on     41981 non-null  float64
 4   commercial    41981 non-null  int64
 5   state         41981 non-null  object
 6   indoor_temp   41981 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 2.6+ MB

 None
Sum of nans: building_id     0
ts              0
outdoor_temp    0
boiler_on       0
commercial      0
state           0
indoor_temp     0
dtype: int64
----------------------------------------



8331
<class 'pandas.core.frame.DataFrame'>
Int64Index: 41975 entries, 848767 to 890741
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   building_id   41975 non-null  int64
 1   ts            41975 non-null  datetime64[ns]
 2   outdoor_temp  41975 non-null  float64
 3   boiler_on     41975 non-null  float64
 4   commercial    41975 non-null  int64
 5   state         41975 non-null  object
 6   indoor_temp   41975 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 2.6+ MB

 None
Sum of nans: building_id     0
ts              0
outdoor_temp    0
boiler_on       0
commercial      0
state           0
indoor_temp     0
dtype: int64
----------------------------------------



8349
<class 'pandas.core.frame.DataFrame'>
Int64Index: 41984 entries, 890742 to 932725
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   building_id   41984 non-null  int64
 1   ts            41984 non-null  datetime64[ns]
 2   outdoor_temp  41984 non-null  float64
 3   boiler_on     41984 non-null  float64
 4   commercial    41984 non-null  int64
 5   state         41984 non-null  object
 6   indoor_temp   41984 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 2.6+ MB

 None
Sum of nans: building_id     0
ts              0
outdoor_temp    0
boiler_on       0
commercial      0
state           0
indoor_temp     0
dtype: int64
----------------------------------------



8361
<class 'pandas.core.frame.DataFrame'>
Int64Index: 41990 entries, 932726 to 974715
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   building_id   41990 non-null  int64
 1   ts            41990 non-null  datetime64[ns]
 2   outdoor_temp  41990 non-null  float64
 3   boiler_on     41990 non-null  float64
 4   commercial    41990 non-null  int64
 5   state         41990 non-null  object
 6   indoor_temp   41990 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 2.6+ MB

 None
Sum of nans: building_id     0
ts              0
outdoor_temp    0
boiler_on       0
commercial      0
state           0
indoor_temp     0
dtype: int64
----------------------------------------



8385
<class 'pandas.core.frame.DataFrame'>
Int64Index: 41983 entries, 974716 to 1016698
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   building_id   41983 non-null  int64
 1   ts            41983 non-null  datetime64[ns]
 2   outdoor_temp  41983 non-null  float64
 3   boiler_on     41983 non-null  float64
 4   commercial    41983 non-null  int64
 5   state         41983 non-null  object
 6   indoor_temp   41983 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 2.6+ MB

 None
Sum of nans: building_id     0
ts              0
outdoor_temp    0
boiler_on       0
commercial      0
state           0
indoor_temp     0
dtype: int64
----------------------------------------



8526
<class 'pandas.core.frame.DataFrame'>
Int64Index: 41990 entries, 1016699 to 1058688
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   building_id   41990 non-null  int64

We can observe that buldings with **6168** and **6204** id numbers have no indoor temperature information. We can drop these two buildings from our dataset.

In [21]:
data.dropna(inplace=True)

In [22]:
data.reset_index(inplace=True)
data.drop('index', axis=1, inplace=True)
data.head()

   building_id                  ts  outdoor_temp  ...  commercial  state indoor_temp
0         6294 2020-11-17 20:24:00        46.748  ...           0     NY     76.6015
1         6294 2020-11-17 20:25:00        46.798  ...           0     NY     76.6015
2         6294 2020-11-17 20:26:00        46.810  ...           0     NY     76.6015
3         6294 2020-11-17 20:27:00        46.636  ...           0     NY     76.6015
4         6294 2020-11-17 20:28:00        46.224  ...           0     NY     76.6015

[5 rows x 7 columns]

## FEATURE ENGINEERING

We create a column to see the temperature difference between the outdoors and indoors.

In [23]:
data['temp_diff'] = data['indoor_temp'] - data['outdoor_temp']
data.head()

   building_id                  ts  outdoor_temp  ...  state  indoor_temp temp_diff
0         6294 2020-11-17 20:24:00        46.748  ...     NY      76.6015   29.8535
1         6294 2020-11-17 20:25:00        46.798  ...     NY      76.6015   29.8035
2         6294 2020-11-17 20:26:00        46.810  ...     NY      76.6015   29.7915
3         6294 2020-11-17 20:27:00        46.636  ...     NY      76.6015   29.9655
4         6294 2020-11-17 20:28:00        46.224  ...     NY      76.6015   30.3775

[5 rows x 8 columns]

## SUBSET DATA

For modeling, we will create a subset data from one building's information for a month. We chose building **4599162238458** as our pilot building for modeling.

In [24]:
df = data[data['building_id'] == 4599162238458]
df.head(10)

          building_id                  ts  ...  indoor_temp  temp_diff
974855  4599162238458 2020-11-17 20:24:00  ...      73.7375    21.7395
974856  4599162238458 2020-11-17 20:25:00  ...      73.7375    21.8425
974857  4599162238458 2020-11-17 20:26:00  ...      73.7375    21.9455
974858  4599162238458 2020-11-17 20:27:00  ...      73.7375    22.4065
974859  4599162238458 2020-11-17 20:28:00  ...      73.7375    22.3945
974860  4599162238458 2020-11-17 20:29:00  ...      73.7375    22.6375
974861  4599162238458 2020-11-17 20:30:00  ...      73.7375    22.7645
974862  4599162238458 2020-11-17 20:31:00  ...      73.7375    23.6065
974863  4599162238458 2020-11-17 20:32:00  ...      73.7375    23.9125
974864  4599162238458 2020-11-17 20:33:00  ...      73.5685    23.5085

[10 rows x 8 columns]

In [25]:
df.isnull().sum()

building_id     0
ts              0
outdoor_temp    0
boiler_on       0
commercial      0
state           0
indoor_temp     0
temp_diff       0
dtype: int64

## SAVE FINAL DATASET

In [ ]:
data.to_csv('/Users/ulku/Data_Science_2_1/Module_5/CSV_Files/thermostat_data_cleaned.csv')